{% extends 'base.html' %}
{% block title %}Bright Ideas | Usuario{% endblock title %}
{% block header %}
<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <h2 class="col-8 ms-5 text-light">Bright Ideas</h2>
    <div class="text-end"> 
      <a href="{% url 'logout' %}" class="text-light" style="
    margin-right: 100px;">logout</a>
    <a href="{% url 'usuarios' %}" class="text-light" style="
    margin-right: 100px;">Back</a>
    </div>
</div>
{% endblock header %}
{% block content %}
    <h4>Vista Usuario</h4>
<div class="col-6 border m-2 p-2">
    <p>Nombre : {{ object.first_name }}</p>
    <p>Apellido : {{ object.last_name }}</p>
    <p>Fecha Nacimiento : {{ object.fecha_nacimiento }}</p>
    <p>Email : {{ object.email  }}</p>
    <p>Se unio el : {{ object.date_joined }}</p>
</div>

{% if trip.user_trip.all %}
<div class="col-6 border m-2 p-2">
    <h4>People Who've join the trip</h4>
    {% for user in  trip.user_trip.all %}
    <p>{{user.first_name}} {{ user.last_name}}</p>
    {% endfor %}
</div>
{% else %}
<h4></h4>
{% endif %}
{% endblock content %}